---
import type { GetStaticPaths } from "astro";
import data from '../../data.json'

export  const getStaticPaths = (() => {  
  return data;
}) satisfies GetStaticPaths;

const { pathToScript } = Astro.props
---

<head>
  <!-- <script src="../../../scripts/test-file.js"></script> -->
  <script src={pathToScript}></script>
</head>
<body>
  This is the body
</body>
